<div class="row">
	<span class="col-sm-1 text-right">Pet Id</span>
	<div  class="col-sm-2"><input type="text" ng-model="searchPetId"></div>
	<div  class="col-sm-1"><button ng-click="searchPetById()">Search</button></div>
	<div  class="col-sm-2"><button ng-click="refreshPets()">Show All</button></div>
</div>

<BR/>


<div ng-repeat="pet in pets" class="row" ng-class-odd="'oddRow'" ng-class-even="'evenRow'">
	<div class="col-sm-1 text-right">{{pet.id}}</div>
	<div class="col-sm-1">{{pet.name}}</div>
	<div class="col-sm-1"><img ng-src="{{pet.photoUrls[0]}}" height="50px"/></div>
	<div class="col-sm-1">{{pet.category.name}}</div>
	<div class="col-sm-1">{{pet.status}}</div>
	<div class="col-sm-2"><span ng-repeat="tag in pet.tags">{{tag.name}}{{$last ? '' : ', '}}</span></div>
	<div class="col-sm-1"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true" 
		ng-click="deletePet(pet.id)" style="cursor: pointer;"></span></div>
</div>


<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-2"><span id="addPetButton" class="glyphicon glyphicon-plus-sign hand" aria-hidden="true" 
		ng-click="toggleAddPetVisibility()" style="cursor: pointer;">Add Pet</span></div>
	<div class="col-sm-5"></div>
</div>


<div class="row">
	<div class="col-sm-1"></div>
		<form id="addForm" novalidate class="form-inline col-sm-5" ng-show="addFormVisible">
			<div class="row" col-sm-5>
		        <label class="col-sm-3" for="inputName">Name</label>
		        <input type="text" ng-model="pet.name" id="inputName" class="col-sm-5">
		   	</div>
			<div class="row">
		        <label class="col-sm-3" for="inputCategory">Category</label>
				<select ng-model="selectedCategoryId" id="inputCategory" class="col-sm-5">
					<option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
				</select> <br/>
		   	</div>
			<div class="row">
		        <label class="col-sm-3" for="inputImg">Img Url</label>
		        <input type="text" id="inputImg" ng-model="petImgUrl" class="col-sm-5">
		   	</div>
			<div class="row">
		        <label class="col-sm-3" for="inputTags">Tags</label>
		        <input type="text" id="inputTags" ng-model="petTags" class="col-sm-5">
		   	</div>
			<div class="row">
		        <label class="col-sm-3" for="inputStatus">Status</label>
				<select ng-model="pet.status" id="inputStatus" class="col-sm-5">
					<option ng-repeat="status in petStatuses" value="{{status}}">{{status}}</option>
				</select>   	
			</div>
		
			<input type="submit" ng-click="addPet(pet)" value="Add Pet"/>
		</form>
	<div class="col-sm-3"></div>	
</div>